.idea
*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
**/build
.DS_Store
/captures
.externalNativeBuild
gradle.properties
test-CA/serial.txt*
test-CA/index.txt*
test-CA/newcerts/